 

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thêm<small>Sản Phẩm</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Edit", "Manufacturer", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Tên loại sản phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" value="@Model.TenHangSanXuat" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="TenHangSanXuat" placeholder="Nhập tên hãng sản xuất" required="required" type="text">
                        </div>
                        <input type="hidden" value="@Model.MaHangSanXuat" name="MaHangSanXuat" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
