
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using   _1461467DAWEB.Models
<div id="content">
    <div class="content-page woocommerce">
        <div class="container">
            <div class="cart-content-page">
                <h2 class="title-shop-page">my cart</h2>
                <form method="post">
                    <div class="table-responsive">
                        <table cellspacing="0" class="shop_table cart table">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Item item in (List<Item>)Session["Cart"])
                                {
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <a href="#">@item.GetSP().TenSanPham</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">@item.GetSP().Gia</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                <input name="Quantity[]" value="@item.GetSL()" class="qty-val" />
                                                <a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">@(item.GetSL() * item.GetSP().Gia)</span>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="actions" colspan="6">
                                        <input type="submit" value="Update Cart" name="update_cart" class="button">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Content Page -->
</div>
