<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Kute Shop is new Html theme that we have designed to help you transform your store into a beautiful online showroom. This is a fully responsive Html theme, with multiple versions for homepage and multiple templates for sub pages as well" />
    <meta name="keywords" content="Kute Shop,7uptheme" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name='revisit-after' content='1 days' />
    <title>Kute Shop | Home Style 1</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/libs/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/libs/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom_style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/rtl.css" media="all"/> -->
</head>
<body style="background:#fff">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>