@model IEnumerable<ShopConnection.LoaiSanPham>

<div class="panel-body">
    <!-- Begin FooTable Hiding Columns -->
    <table id="hiding-columns-example-1" class="table" data-expand-first="true">
        <thead>
            <tr>
                <th data-visible="false">Mã Loại</th>
                <th>Tên Loại Sản phẩm</th>
                <th>Sửa</th>
                <th data-breakpoints="xs">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaLoaiSanPham</td>
                    <td>@item.TenLoaiSanPham</td>
                    <td><a href="@Url.Action("Edit", "ProductType", new { id = item.MaLoaiSanPham })">Sửa</a></td>
                    <td><a href="@Url.Action("Delete", "ProductType",  new { id = item.MaLoaiSanPham })">Xóa</a></td>
                </tr>
            }
            
        </tbody>
    </table>
    <!-- End FooTable Hiding Columns -->
</div>