@model IEnumerable<ShopConnection.DanhSachHinh>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Sửa danh sach hinh<small>Sản Phẩm</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("updateListImg", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                {
                    foreach (var item in Model)
                    {
                        <div class="item form-group">
                            <input value="@item.MaHinh" name="IdHinhSP[]" type="hidden" />
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                Hình ảnh <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img style="width: 150px; display: inline-block; height: auto; " src="~/@item.TenHinh" alt="Alternate Text" /><br />
                                <input type="file" id="TenHinh" name="TenHinh" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    }
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
